/Footer
%footer
  %div
    - t(:"navigation.footer_nav").each do |item|
      = render :partial => 'shared/footer_list', :locals => {:var => item}
  %div.copyright-info
    %p © Copyright no one at all. Go to town
