/Footer
%footer
  %div
    - t(:"navigation.footer_nav").each do |item|
      = render :partial => 'shared/footer_list', :locals => {:var => item}
  %div.copyright-info
    %p #{t(:"footer", :yr => Time.now.year.to_s)}
