<header>
    <nav>
        <img src="images/logo.png" alt="" />
        <!-- this will need to be driven from a lb-->
        <ul class="main-nav">
         <li><span class="home-icon"></span></li>
        </ul>
    </nav>
</header>