%header
 %img{:src => "images/logo.png", :id => "main-logo", :alt => t(:"images.alts.logo")}/
 /Nav Bar
 %nav
  %div
   %ul#main-nav.inline-list
    = list_of(t(:"navigation"), {class: "nav"}) do |key,item|
     -unless item.downcase == 'home'
      -unless item.downcase.start_with?(@page_name.downcase)
       %a{ :href => eval(get_nav(key.to_s)) }= item
      -else
       = item
 /End Nav
 /todo you want to not add path if the current page is dont put a link