%header
 %a{:href => root_path}
  %img{:src => "/images/logo.png", :id => "main-logo", :alt => t(:"images.alts.logo")}
 %a.fa.fa-bars.mobile-drop-down{:href => "#", :data =>{"dropdown" => "nav-dropdown"}}
 %ul#nav-dropdown.small.f-dropdown.mobile-dropdown-list{:data =>{"dropdown-content" => ""}}
  = render :partial => 'shared/nav_list'
 /Nav Bar
 %nav
  %div
   %ul#main-nav.inline-list
    = render :partial => 'shared/nav_list'
 /End Nav