<!--  javascript_include_tag t(:'jw_player_path') -->
<!-- javascript_include_tag "application" -->
= javascript_include_tag "init"
= javascript_include_tag "bower_components/foundation/js/foundation.min.js"
= javascript_include_tag "bower_components/foundation/js/foundation/foundation.dropdown.js"




= render :partial => 'shared/google-analytics' if ENV["RAILS_ENV"] == 'production'

-#todo: add something to take params to additional files