<div class="round">
    <h5>type of review</h5>
    <div class="star-rating">
        <h5>4.7 out of 5 stars</h5>
        <!--use a star img -->
        <span class="foundicon-star small"></span>
        <span class="foundicon-star small"></span>
        <span class="foundicon-star small"></span>
        <span class="foundicon-star small"></span>
        <span class="foundicon-star small"></span>
    </div>
    <p>Outer politics believes most enlightenments.</p>
      <div class="review-detail"><span class="name"></span> <%= link_to "more reviews", static_reviews_path %> </div>
</div>
