%ul.video-list
 = list_of(t(:"media.play_list.items")) do |item|
  %img{:src => item[:tnail_path], :alt => item[:description]}
  %div.video-info
   %a{:href => item[:link], :data=> {"still-path" => item[:still_path]} }=item[:title]
   %span.video-details
    %ul
     %li=item[:author]
     %li=t(:"labels.time") + ":" + item[:duration]
    %p=item[:description]