<div id="video-player">
   <!-- video tag or jw player goes here-->
    <ul class="video-list">
        <li><span class="video-still"></span>
        <p class="video-desc"></p>
          <span class="video-icon"></span>
        </li>
    </ul>
</div>