#video-player
  = render :partial => 'shared/video_list'

:script
    jwplayer("video-player").setup({
        file: "/uploads/example.mp4",
        height: 360,
        image: "/uploads/example.jpg",
        width: 640
    });
