%div{:id => "main-content", :class => "row large-12 columns", :role =>"content"}
 / Video player
 %div.large-8.columns
  -#= render :partial => 'shared/video_player'
 /end Video player

 /start side bar
 %div.large-4.columns
  %div
   /todo: language bundle this
   %h5 #{t(:"homepage.what_is_flossfish")}
   %p #{t(:"homepage.flossfish_is")}

  %article
   /todo: you will need to have a controller get a random review then include it here
   = render :partial => 'shared/reviews_include'


