%div{:id => "main-content", :class => "row large-12 columns", :role =>"content"}
 %div.small-12.medium-12.large-12.columns.more-info-container
  %h4.highlight-header #{t(:"more_info.header")}
  %ol.instructions-list
   = list_of(t(:"more_info.links")) do |item|
    %a{:href => item[:link]}=item[:label].html_safe
   
