@import "modules/colors";
@import "partials/base";

a{
  color:$med_blue;

  &:hover{
    color:$dark_orange;
  }
  &:visited{
    color:$med_blue;
  }
  &:active{
    color:$med_blue;
  }
}

li{
  list-style: none;
}

body, p, ol, ul, td {
  font-size: $base-font-size;
}