@import "modules/colors";
@import "partials/base";

a{
  color:$base-link-color;

  &:hover{
    color:$dark_orange;
    background: transparent;
  }
  &:visited{
    color:$base-link-color;
  }
  &:active{
    color:$base-link-color;
  }
}

li{
  list-style: none;
}

body, p, ol, ul, td {
  font-size: $base-font-size;
}

.highlight-header{
  color:$med_blue;
}