
$blue:#5fabd9;
$light_blue:#85c9ee;
$med_blue:#0b9ed9;
$dark_blue:#0b2d59;
$light_grey:#A1A194;
$highlight_grey:#efefef;
$grey:#595454;
$med_grey:#666666;
$dark_grey:#464646;
$charcoal:#242415;
$light_orange:#ff8a00;
$dark_orange:#ff6600;
$green:#93c700;
$w:#fff;
$b:#000;
$border_color:$med_blue;

$primary-color: #008CBA !default;
$secondary-color: #e7e7e7 !default;
$alert-color: #f04124 !default;
$success-color: #43AC6A !default;
$warning-color: #f08a24 !default;
$info-color: #a0d3e8 !default;
$base-link-color:$blue;
