@import "partials/base";

@mixin light_links(){
  a{
    color:$light_blue;

    &:hover{
      color:$w;
    }
    &:visited{
      color:$light_blue;
    }
    &:active{
      color:$light_blue;
    }
  }
}

@mixin addFontSize($size:0) {
  font-size: $size+px;
}

@mixin addFontWeight($size:0) {
  font-weight: $regular+$size;
}
