@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
  font-url('OpenSans-Light.eot') format('embedded-opentype'),
  font-url('OpenSans-Light.ttf') format('truetype'),
  font-url('OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
  font-url('OpenSans-Regular.eot') format('embedded-opentype'),
  font-url('OpenSans-Regular.ttf') format('ttf'),
  font-url('OpenSans-Regular.svg') format('svg'),
  font-url('OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'),
  font-url('OpenSans-Semibold.eot') format('embedded-opentype'),
  font-url('OpenSans-Semibold.ttf') format('truetype'),
  font-url('OpenSans-Semibold.woff') format('woff'),
  font-url('OpenSans-Semibold.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'),
  font-url('OpenSans-Bold.eot') format('embedded-opentype'),
  font-url('OpenSans-Bold.ttf') format('truetype'),
  font-url('OpenSans-Bold.woff') format('woff'),
  font-url('OpenSans-Bold.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'),
  font-url('OpenSans-ExtraBold.eot') format('embedded-opentype'),
  font-url('OpenSans-ExtraBold.ttf') format('truetype'),
  font-url('OpenSans-ExtraBold.wof') format('woff'),
  font-url('OpenSans-ExtraBold.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'),
  font-url('OpenSans-LightItalic.eot') format('embedded-opentype'),
  font-url('OpenSans-LightItalic.ttf') format('truetype'),
  font-url('OpenSans-LightItalic.woff') format('woff'),
  font-url('OpenSans-LightItalic.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),
  font-url('OpenSans-Italic.eot') format('embedded-opentype'),
  font-url('OpenSans-Italic.ttf') format('truetype'),
  font-url('OpenSans-Italic.woff') format('woff'),
  font-url('OpenSans-Italic.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'),
  font-url('OpenSans-SemiboldItalic.eot') format('embedded-opentype'),
  font-url('OpenSans-SemiboldItalic.ttf') format('truetype'),
  font-url('OpenSans-SemiboldItalic.woff') format('woff'),
  font-url('OpenSans-SemiboldItalic.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'),
  font-url('OpenSans-BoldItalic.eot') format('embedded-opentype'),
  font-url('OpenSans-BoldItalic.ttf') format('truetype'),
  font-url('OpenSans-BoldItalic.woff') format('woff'),
  font-url('OpenSans-BoldItalic.svg') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'),
  font-url('OpenSans-ExtraBoldItalic.eot') format('embedded-opentype'),
  font-url('OpenSans-ExtraBoldItalic.ttf') format('truetype'),
  font-url('OpenSans-ExtraBoldItalic.woff') format('woff'),
  font-url('OpenSans-ExtraBoldItalic.svg') format('svg');
}