@import "modules/colors";

.download-btn{
  &.fa[class*='download']{
      padding:3px;
      border: 1px solid #fff;
      background: linear-gradient($light_orange, $dark_orange);
      color: #fff;
      border-radius: 6px;
      font-size: 11px;
      margin-left: 3px;

    }
}