@import "foundation_and_overrides";
@import "modules/colors";
@import "partials/base";
@import "modules/mixins";
@import "compass/css3/box-shadow";

@mixin changeNavMenu($toggle:false) {
  .mobile-drop-down {
    @if $toggle{
      display: block;
    }
    @else{
      display: none;
    }

  }
  nav {
    @if $toggle{
      display: none;
    }
    @else{
      display: block;
    }
  }
}


header {
  background: transparent url('/images/header-bg.png') repeat-x 0 0;
  height: 141px;
  @include light_links;


  .mobile-drop-down {
    float: right;
    margin: 10px 10px 0 0;
    font-size: $large_icon_size;
    display: none;
  }

  img#main-logo {
    float: left;
    width: auto;
    max-width: 469px;
    margin: 0 30px 0 40px;
  }

  nav {
    float: left;
    margin-top: 85px;


    ul#main-nav.inline-list {
      @include addFontSize($h4-font-size);

      li {
        a:hover {
          background: transparent;
        }
      }
    }
  }

  ul.mobile-dropdown-list {
    li {
      a {
        &:hover {

          color: $grey;
        }
      }
    }
  }


  @media #{$smart-phone-range-only}  {
    height: 85px;
    @include box-shadow(#999 0 5px 10px);

    img#main-logo {
      width: 73%;
      margin: 0 10px 15px 10px;
    }
  }


  @media #{$small-up}  {
    @include changeNavMenu(true);
    margin-bottom: 15px;
  }

  /*end small*/

  @media #{$header-medium-up} {
    height: 141px;
    @include box-shadow(none);
    @include changeNavMenu(false);
  }

}