@import "modules/colors";
@import "modules/typography";
@import "compass/utilities";
@import "compass/css3";
@import "modules/all";
@import "modules/mixins";


div#video-container{

  div#video-list-container{
    border: .13em solid $border_color;
    border-top: none;
    @include border-radius($border_radius);
    @include border-top-left-radius(0);
    @include border-top-right-radius(0);
    padding: 10px 0;
    margin-bottom: 40px;


    ul.video-list{
      max-height: 300px;
      overflow-y: auto;
      margin-left: 0;

      li{
        padding: 10px;
        margin-bottom: 10px;
        display: inline-table;
        border-bottom:1px dotted $light_blue;

        &:last-child{
          border-bottom:none;
        }

        img{
          max-width: 150px;
          float: left;
          padding:1px;
          border:1px solid $highlight_grey;
        }

        div.video-info{
          span{
            padding:0;

            i{
              padding:0;
              font-size:$large_icon_size;
              color:$med_grey;
            }

            a{
              display: inline-block;
              @include addFontWeight(300);
              padding:3px 0 0 0;
            }
          }


          .video-description{

            margin-bottom: 0;
            padding: 0;
            margin-top: 5px;
          }

        }/*end video info*/

        .video-details{
          margin-top: 3px;
          padding: 0;

          li{
            font-size: $small-font-size;
            border: none;
            display: list-item;
            padding: 0;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }
    }
  }

}
