@import "modules/colors";
@import "partials/typography";
@import "compass/utilities";
@import "compass/css3";


div#video-container{

  div#video-list-container{
    border: .13em solid $med_blue;
    border-top: none;
    @include border-radius(9px);
    @include border-top-left-radius(0);
    @include border-top-right-radius(0);
    padding: 10px 0;
    margin-bottom: 40px;


    ul.video-list{
      max-height: 300px;
      overflow-y: auto;
      margin-left: 0;

      li{
        padding: 10px;
        margin-bottom: 10px;
        display: inline-table;
        border-bottom:1px dotted $light_blue;

        &:last-child{
          border-bottom:none;
        }

        img{
          max-width: 150px;
          float: left;
          padding:1px;
          border:1px solid $highlight_grey;
        }

        div.video-info{


          a{
            display: inline-block;
            width: 100%;
            font-weight: 500;
          }

          span.video-details{

            color: $dark_blue;
            width: 100%;
            display: inline-block;
            margin-top: 10px;
            padding: 0;

            ul{
              margin: 0;
              padding: 0;

              li{
                font-size: $small-font-size;
                border: none;
                display: list-item;
                padding: 0;
                margin: 0;
              }
            }
            p{
              font-size: $small-font-size;
              margin-bottom: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }

}
