<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>flossfish.com - Question Answer page. Questions and Answers about how to floss with braces using the flossFish tool</title>
    <link rel="stylesheet" type="text/css" href="/flossFishMaster.css" />
 <META HTTP-EQUIV="Expires" CONTENT="Wed, 14 Nov 2024 02:46:02 GMT">
</head>

<body>
<div class="flossfish-main-header"><h1>Welcome to the FlossFish FAQ page. Here you will find the answers to most common questions about flossing using the flossFish.</h1></div>

<ul class="main-navigation">
<li class="instructions-nav"><span></span><a href="/instructions.html">Instructions</a></li>
<li class="order-nav"><a href="/order.html">Order FlossFish</a></li>
<li class="more-info-nav"><a href="/moreinfo.html">More Information</a></li>
<li class="contact-us-nav"><a href="/contactus.html">Contact Us</a><span></span></li>
</ul>

<div class="content-div">


<h2>FAQ Page</h2>

<p class="faq-question">How hard is it to use the flossFish?</p>
<p class="faq-answer">For most users it is not hard at all. If you are a dental professional flossing patients or a child there is sometimes a learning curve. Please give it a try a few times. Once users get the hang of it the flossFish will save you time and effort.</p>

<p class="faq-question">Will the flossFish work for me?</p>
<p class="faq-answer">The flossFish works for about 70% of the participants that tired it during our survey. It will not fit in real tight spaces or users that have small teeth. Most people use the flossFish where they can, go back to the old way where they cannot and it still saves time. If you are a dental professional, you should definitely give yourself and your patients the opportunity to try it out. It will save you and your patients time and efforts and promote better oral hygiene. </p>

<p class="faq-question">About how big is the flossFish?</p>
<p class="faq-answer">The shaft is what most people are referring to when asking about size. The shaft is 4/64 inch wide and 2/64 thick.  It is about the size of the fat end of a standard toothpick.</p>

<p class="faq-question">Will the flossFish work for my bridge or permanent retainer?</p>
<p class="faq-answer">No. Some have tried but for most it is too thick to use on bridges and permanent appliances.</p>

<p class="faq-question">Do you recommend the flossFish for children?</p>
<p class="faq-answer">It really depends. By the age most children have braces, the hand-eye coordination needed to use flossFish has developed, but for some children it maybe difficult to use. We encourage parents and dental professionals to help children that have a difficult time using the flossFish. There is a learning curve for some when using the flossFish. Our studies have shown that once users get past that curve, they floss more thus promoting better oral hygiene.</p>

<p class="faq-question">Can I buy the flossFish locally at any stores?</p>
<p class="faq-answer">No. Currently it is only for sale here at <a href="/order.html">flossfish.com (we ship world wide)</a>, <a href="http://www.archwired.com" target="_blank">archwired.com</a>, <a href="http://www.plaksmacker.com" target="_blank">plaksmacker.com</a> and <a href="http://www.orthosupply.ca/" target="_blank"> Orthodontic Supply of Canada (Affiliates in Canada)</a>.</p>

<p class="faq-question">What kind of floss do I need to use?</p>
<p class="faq-answer">Any type you like. If you have trouble putting the floss through the hole on the flossFish we recommend using super floss. (the floss with the stiff end) Super floss makes it easier to thread the flossFish but also allows you to quickly switch to back to threading for tight spaces where the flossFish may not fit. </p>

<p class="faq-question">Is the flossFish just used for orthodontic patients?</p>
<p class="faq-answer">No. Some are using it for access issues (Fat fingers, reach issues ect…), some use the flossFish because they don't like to use their fingers to hold the floss, some kids just like the colors. <strong>It also works great for hygienist that floss their ortho patients.</strong></p>

<p class="faq-question">I don't quite get what is going on in the video; can you explain it to me?</p>
<p class="faq-answer">I can try. There is a piece of floss going through the small hole at the end of the (shaft) flossFish. The shaft is inserted under the arch wire and between the brackets. The other hand (behind the teeth) is pulling the floss through the gap between the teeth (as you would floss normally).</p>

<p class="faq-question">How do you do the posterior teeth?</p>
<p class="faq-answer">We didn't film that, but it works the same way. It is just a little harder to see back there so be careful. </p>

<p class="faq-question">Why should I use a flossFish versus other methods?</p>

<table border="1" cellspacing="1" cellpadding="0">
			<tr>
				<td>&nbsp;	
				</td>
				<td>	Description
				</td>
				<td>	Effectiveness
				</td>
				<td>	Time
				</td>
				<td>	Effort
				</td>
				<td>	Expense
				</td>
			</tr>
			<tr>
				<td>	FlossFish
				</td>
				<td>	Tool that uses floss, goes under the arch wire, and
					  between brackets to keep so that users can floss normally.
				</td>
				<td>	Just as effective as regular flossing. The tail end of the
					  tool can also be used to remove food after meals.
				</td>
				<td>	Cuts time to regular floss time. 5- min
				</td>
				<td>	Minimal effort.
				</td>
				<td>	A few dollars that would last the life of the time with
					  braces. 88% of consumers that we surveyed said that they would buy our product
					  for the retail price quoted. 
				</td>
			</tr>
			<tr>
				<td>	Floss Threaders
				</td>
				<td>	A tool that uses floss and allows users to thread the
					  floss under the arch wire and in between each bracket.
				</td>
				<td>	Just as effective as regular flossing.
				</td>
				<td>	Takes the most time. Most people survey 10+ min
				</td>
				<td>	Most effort.
				</td>
				<td>	Inexpensive.
				</td>
			</tr>
			<tr>
				<td>	Water Pick
				</td>
				<td>	A tool that uses high pressure propulsion and water to
					  remove debris from within teeth
				</td>
				<td>	Not as effective as flossing. Some dentist studies have
					  shown the water pick to cause gum problems.
				</td>
				<td>	Once setup, time is minimal.
				</td>
				<td>	Takes a little effort to setup.
				</td>
				<td>	Most expensive out of any of the tools.
				</td>
			</tr>
			<tr>
				<td>	Humming Bird
				</td>
				<td>	A small plastic device that looks like a toothpick used to
					  remove plaque.
				</td>
				<td>	Somewhat effective. It cannot get in some areas where
					  floss can.
				</td>
				<td>	About regular floss time add a min or 2.
				</td>
				<td>	Little effort. Changing the little plastic tips can become
					  frustrating.
				</td>
				<td>	Not that expensive. Most are motorized so users have to
					  pay for batteries and extra plastic tips.
				</td>
			</tr>
			<tr>
				<td>	Glide Floss
				</td>
				<td>	Floss with a stiff end.  Works the same as floss
					  threaders.
				</td>
				<td>	Just as effective as regular flossing.
				</td>
				<td>	Takes the most time. Most people survey 10+ min
				</td>
				<td>	Second Most effort.
				</td>
				<td>	Inexpensive.
				</td>
			</tr>
			<tr>
				<td>	Int. Brush
				</td>
				<td>	A small brush that is used like the humming bird. It’s
					  inserted in between teeth to remove debris.
				</td>
				<td>	Somewhat effective. It cannot get in some areas where
					  floss can.
				</td>
				<td>	About regular floss time add a min or 2.
				</td>
				<td>	Little effort.
				</td>
				<td>	Not that expensive but  more than floss or floss
					  threaders. Users must pay for extra brush tips.
				</td>
			</tr>
				<tr>
				<td>	Platypus
				</td>
				<td>	A 2 pronged tool that goes under the wire sort of like the flossFish. 
				</td>
				<td>    Just as effective as regular flossing. 
				</td>
				<td>	Cuts time to regular floss time. 5- min.
				</td>
				<td>	Little effort.
				</td>
				<td>  Imitation is the greatest form of flattery. :-) We are the original and have the patent to prove it (#7,328,711). We designed the flossFish to be re-usable, it comes in 5 different colors and the flossFish cost less and last longer.
				</td>
			</tr>
			
				<tr>
				<td>	Bryton Pick
				</td>
				<td>	A tool with a piece of film on the end that slides between your teeth.   
				</td>
				<td>    Somewhat effective. 
				</td>
				<td>	Cuts time to regular floss time. 5- min.
				</td>
				<td>	Little effort.
				</td>
				<td>  The tool will not scrape the sides of your teeth to remove plaque, it cost more and doesnt last as long.
				</td>
			</tr>
		</table>

<p class="faq-question">Can I download and use the flossFish video in my office or on my web site to show my patients how to use it?</p>
<p class="faq-answer">Yes or you can link to our instructions page at <a href="/instructions.html">http://www.flossfish.com/instructions.html</a>.</p>

 <p class="faq-question">How do I embed the flossFish video in my own web site?</p>
<p class="faq-answer">The video is available on <a href="http://www.youtube.com/watch?v=ZiKPD_Z-zHw" target="_blank">you tube.com</a>. The you tube code to embed the video is <br />
&lt;object width="425" height="344"&gt;&lt;param name="movie" value="http://www.youtube.com/v/ZiKPD_Z-zHw&amp;hl=en&amp;fs=1"&gt;&lt;/param&gt;&lt;param name="allowFullScreen" value="true"&gt;&lt;/param&gt;&lt;param name="allowscriptaccess" value="always"&gt;&lt;/param&gt;&lt;embed src="http://www.youtube.com/v/ZiKPD_Z-zHw&amp;hl=en&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"&gt;&lt;/embed&gt;&lt;/object&gt;<br />
copy the code and paste it in your web page. 
 </p>
  
<p class="faq-question">I have a question that this faq did not answer, how do I get my question answered?</p>
<p class="faq-answer">Please email us at info@flossfish.com.</p>
<br />
<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
&nbsp;&nbsp;&nbsp;&nbsp;

<script type="text/javascript">
<!--
document.write('<a href="javascript:;" onclick="TwitThis.pop();"><img src="http://s3.chuug.com/chuug.twitthis.resources/twitthis_grey_72x22.gif" alt="TwitThis" style="border:none;" /> Tweet flossfish.com</a>');
//-->
</script>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.facebook.com/pages/flossfish/67266189254" target="_blank"><img src="/images/buttons/facebook-logo.jpg" title="join us at facebook" alt="join us on facebook" border="0" width="20" height="20" />
join our fan page! </a>  
</div>
<div class="footer-curve">
<div class="bottom-left-curve"></div><div class="bottom-right-curve"></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5449757-1");
pageTracker._trackPageview();
</script>
    <script type="text/javascript" language="JavaScript" src="/scripts/htmScripts.js"></script>
	<script type="text/javascript">
var addthis_options = 'buzz, delicious, digg, email, facebook, favorites, furl, google, kaboodle, linkedin, myspace, sharedstuff, slashdot, spurl, stumbleupon, twitter, yardbarker, yahoobkm, more';
var addthis_offset_top = 20;

var addthis_pub="bigant63";
</script>
<script type="text/javascript" src="http://s3.chuug.com/chuug.twitthis.scripts/twitthis.js"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5449757-1");
pageTracker._trackPageview();
</script>
   <script type="text/javascript" language="JavaScript" src="/scripts/htmScripts.js"></script>
<p class="footer-links"><script type="text/javascript" language="JavaScript">writeFooter();</script></p>
</body>
</html>
