<table height="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">great item received before expected.  will shop with again!&nbsp;

<br>
Apr 22, 2013
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">product was unimpressive. &nbsp;

<br>
Feb 8, 2013
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Great product. Timely delivery. Really makes flossing with braces easy!&nbsp;

<br>
Jan 18, 2013
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Communicated well and the product came quickly.  The problem is it is useless as the flossfish does not fit under my daughter's brace wires.&nbsp;

<br>
Aug 28, 2012
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Speedy delivery, excellent international shipping rate.&nbsp;

<br>
May 1, 2012
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">je n'avais pas de facture avec  la boite&nbsp;

<br>
Apr 7, 2012
<br><br></td></tr>
<tr valign="top"><td></td>
<td><span style="color:#6F6F6F;">Seller's Response - Apr 11, 2012</span>
<br>
la facture aurait été envoyé par courriel de Google Checkout

<br><br></td>
</tr>
<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Terrific! Helpful and informative website, fast shipping, great product!&nbsp;

<br>
Feb 9, 2012
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">I never got my order.&nbsp;

<br>
Jan 25, 2012
<br><br></td></tr>
<tr valign="top"><td></td>
<td><span style="color:#6F6F6F;">Seller's Response - Jan 25, 2012</span>
<br>
please email us your order number. We will try to track your order, re-ship it or issue you a refund . 

<br><br></td>
</tr>
<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Shipping was very fast! Arrived in two business days! However, I think I only received 9, instead of 10 FlossFish, but I'm not 100% sure.&nbsp;

<br>
Jan 1, 2012
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Great tool!&nbsp;

<br>
Dec 20, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Great checkout process.  I'm a little disappointed that the product doesn't work for me because the potential is so awesome!!! But I'd recommend people try to use it, and plan to donate my unused products to my orthodontist.&nbsp;

<br>
Dec 15, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Awesome product!&nbsp;

<br>
Nov 27, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Awesome!!&nbsp;

<br>
Nov 18, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">I had a few questions before I placed my order and my emails were answered very quickly.  The order process was easy and the shipping was fast.  No complaints from my end.  I will order from them again if I need any more.  &nbsp;

<br>
Nov 7, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Excellent - thank you&nbsp;

<br>
Sep 28, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">No problems at all.&nbsp;

<br>
Sep 2, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Great product and no problem purchase.&nbsp;

<br>
Aug 10, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">great service&nbsp;

<br>
Jul 12, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">It was ok, but it took them forever to get it here. I thought they had packed it, so that's why it was taking to long. When it finally came it was in a enevelope and the contents were in a baggie. Even though it took them a long time I kinda have to buy them again, as I have braces.&nbsp;

<br>
Jun 26, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Wonderful product! Fast shipping! I am one satisfied customer!&nbsp;

<br>
May 12, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">They are a great company!&nbsp;

<br>
May 3, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">This is the best place to buy Floss Fish.  The product works great for people with braces and is easy to use.  A Floss Fish can last for months.  The price was very reasonable and the shipping very low.  The product arrived in less than 5 days.&nbsp;

<br>
Apr 18, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">I had no problems with the order itself, but I am disappointed with the product.  I will not buy it again.&nbsp;

<br>
Apr 18, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">FlossFish.com is a great company, and buying from them online is a seamless and easy experience.&nbsp;

<br>
Apr 13, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Fast shipping and great product!!&nbsp;

<br>
Apr 1, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Great concept but the tip of the flossfish should be a little flexible to go through the braces easier.  Fast shipping, however I will not buy the product again.&nbsp;

<br>
Mar 31, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Love the product and received it VERY quickly! &nbsp;

<br>
Mar 24, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">I haven't received them yet after 2 weeks. &nbsp;

<br>
Mar 11, 2011
<br><br></td></tr>
<tr valign="top"><td></td>
<td><span style="color:#6F6F6F;">Seller's Response - Apr 5, 2011</span>
<br>
Hi David, I'm very sorry for the delay. Our orders get held up in customs going to Canada sometimes.

<br><br></td>
</tr>
<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Nice experience&nbsp;

<br>
Mar 7, 2011
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">fast and easy&nbsp;

<br>
Nov 2, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">No problems.  Order arrived withing a week.&nbsp;

<br>
Sep 15, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Everything was spot on with the order.  Recommended. &nbsp;

<br>
Jun 21, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">j'ai recommandé l'article à mon orthodontiste.&nbsp;

<br>
May 5, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Great&nbsp;

<br>
Apr 12, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Everything was great and received in a timely manner.&nbsp;

<br>
Mar 9, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Really great correspondence no problems! &nbsp;

<br>
Feb 1, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Prompt service and good packaging was appreciated.&nbsp;

<br>
Jan 25, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Excellent product, superfast shipping, will do business again. Strongly recommended.&nbsp;

<br>
Jan 21, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">easy to order.  good communication.  quick ship.  cool product!&nbsp;

<br>
Jan 6, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Very good!Thanks!&nbsp;

<br>
Jan 4, 2010
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">The product is great.  The shopping experience was great too.&nbsp;

<br>
Dec 29, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Frais de service un peu élever&nbsp;

<br>
Dec 18, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Good, prompt response and ship.&nbsp;

<br>
Nov 7, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Excellent service...speedy delivery!&nbsp;

<br>
Oct 28, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Got exactly what I ordered and my package arrived In less than a week. Very pleased. &nbsp;

<br>
Oct 24, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">These work really well - It has taken my son a little bit to get the hang of them but he's flossing!!&nbsp;

<br>
Oct 13, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Very speedy process.&nbsp;

<br>
Sep 6, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Initially did not receive the order, but they were quick to resolve the issue.&nbsp;

<br>
Aug 20, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">great!&nbsp;

<br>
Jul 5, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Quick service, great product, I would definitely shop with them again!&nbsp;

<br>
Jul 2, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">No problems. I placed the order and got the product by ground in a timley manner.&nbsp;

<br>
Jun 27, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">I would have liked to have received directions with my purchase.  Overall, the product was as described and shipped fast.&nbsp;

<br>
Jun 19, 2009
<br><br></td></tr>
<tr valign="top"><td></td>
<td><span style="color:#6F6F6F;">Seller's Response - Jun 21, 2009</span>
<br>
Hi Bradley, There should of been a instructions card put in with your order. On the front of the card it has flossfish.com on the back there should be written instuctions and a link to the video instructions....
<a href="https://checkout.google.com/reviews/merchant/endUserReviewDetail?t=731906063110074" class="fl">more »</a>
<br><br></td>
</tr>
<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Fast shipping and an incredibly useful tool for someone with braces.  Flossing now takes only a couple of minutes instead of  the 15 minutes it took before I discovered floss fish.  BUY IT&nbsp;

<br>
Mar 12, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Wonderful!  &nbsp;

<br>
Feb 6, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Great!&nbsp;

<br>
Jan 28, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Flossfish cut down my flossing time with braces in half! It's not good for super-tight spaces, but otherwise works better than other means of flossing.&nbsp;

<br>
Jan 19, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">I really like the product.  It does make flossing with braces much quicker.  It has been harder for my children to figure out.&nbsp;

<br>
Jan 5, 2009
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">excellent&nbsp;

<br>
Dec 20, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Easy to buy. Quick to ship.&nbsp;

<br>
Dec 5, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">It was a fast, efficient, and easy process.&nbsp;

<br>
Nov 24, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">I received just what I ordered and in a timely fashion.&nbsp;

<br>
Nov 15, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">awesome!!!!  great product!!!!!!   fast shipping!!!!!!!!!!  AAAAAAAA++++++++++&nbsp;

<br>
Nov 11, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Purchase went smoothly -- quick delivery and no problems. The Floss Fish product was a bit more harder of a plastic than I thought it would be, and didn't work out well for my 9 year old's small mouth.&nbsp;

<br>
Oct 28, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">the product is useless and a waste of money&nbsp;

<br>
Oct 28, 2008
<br><br></td></tr>
<tr valign="top"><td></td>
<td><span style="color:#6F6F6F;">Seller's Response - Oct 28, 2008</span>
<br>
We are very sorry you are in the minority of people that the flossFish is not right for. The flossFish works well for around 70% of the people that use it. In cases where there is extreme crowding or small...
<a href="https://checkout.google.com/reviews/merchant/endUserReviewDetail?t=802176920472818" class="fl">more »</a>
<br><br></td>
</tr>
<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">Seems somewhat hard to use, can't get below gumline as when using floss threaders.  Not sure if easier for kids to use on themselves. &nbsp;

<br>
Aug 28, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Excellent, super fast shipping!&nbsp;

<br>
Aug 23, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">great-gerate-grate!&nbsp;

<br>
Aug 21, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Transaction was easy and service was excellent&nbsp;

<br>
Aug 20, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Excellent&nbsp;

<br>
Jul 21, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><img src="https://checkout.google.com/img/starEmptyMed.gif"><br></td>
<td valign="top">It advertises this product as a great thing for braces, but the product is awful. It doesn't work well at all. Cheap plastic, bad design, doesn't fit in many places between teeth.&nbsp;

<br>
May 14, 2008
<br><br></td></tr>
<tr valign="top"><td></td>
<td><span style="color:#6F6F6F;">Seller's Response - May 15, 2008</span>
<br>
We are very sorry you are in the minority of people that the flossFish is not right for. The flossFish works well for around 70% of the people that use it. In cases where there is extreme crowding or small...
<a href="https://checkout.google.com/reviews/merchant/endUserReviewDetail?t=658837330101894" class="fl">more »</a>
<br><br></td>
</tr>
<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Very fast shipping&nbsp;

<br>
May 5, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr> <tr><td valign="top" style="padding-right: 12px;"><img width="1" height="2" alt="" src="https://checkout.google.com/img/cleardot.gif"><br>
<img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><img src="https://checkout.google.com/img/starFullMed.gif"><br></td>
<td valign="top">Fabulous!!! What a great tool for our Ortho Pts PROPS!!!  Kim (OM) &nbsp;

<br>
Feb 21, 2008
<br><br></td></tr>

<tr><td colspan="2"><br></td></tr></tbody></table>